.cards_wrapper{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.title{
  color: rgb(230, 225, 225);
}

.title::before{
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 50px;
  margin-right: 10px;
  margin-left: 5px;
}

.title:after{
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  margin-left: 10px;
  width: calc( 100% - 145.2px);
  margin-right: 5px;
}